# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_splitDongle

config ZMK_KEYBOARD_NAME
	default "split dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_splitLeft || SHIELD_splitRight || SHIELD_splitDongle 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif