#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define NUMBER 1
#define SYMBOL 2
#define MEDIA 3
#define ARROW 4
#define MOUSE 5
#define FUNC 5

/ {
    keymap {
        compatible = "zmk,keymap";

// ----------------------------------------------------------------------------------------------------
//           |  esc     |   Q     |   W     |   E     |   R     |   T   |          |   Y      |   U    |   I      |   O    |   P      |   bs   | 
//           |  tab     |   A     |   S     |   D     |   F     |   G   |          |   H      |   J    |   K      |   L    |   ;      |   '    |
//           | LSHIFT   |   Z     |   X     |   C     |   V     |   B   |          |   N      |   M    |   ,      |   .    |   /      | RSHIFT |
//           |          |         |         | ctrl    | space   |  sym  |          |  num     |  alt   |          |        |          |        |

        default_layer {
            bindings = <
                &kp ESC    &kp Q       &kp W      &kp E      &kp R      &kp T             &kp Y        &kp U      &kp I     &kp O      &kp P     &kp BSPC
                &kp TAB    &kp A       &kp S      &kp D      &kp F      &kp G             &kp H        &kp J      &kp K     &kp L      &kp SEMI  &kp APOS
                &kp LSHFT  &kp Z       &kp X      &kp C      &kp V      &kp B             &kp N        &kp M      &kp COMMA &kp DOT    &kp SLASH &kp RSHFT
                &kp LCTRL  &kp LALT    &mo MEDIA  &mo SYMBOL &none      &kp SPACE         &mo NUMBER   &mo ARROW  &mo MOUSE &mo FUNC   &kp RGUI  &kp ENTER 
            >; 
        };

        number_layer {
            bindings = <
                &kp ESC    &kp N1      &kp N2     &kp N3     &kp N4     &kp N5            &kp N6       &kp N7     &kp N8    &kp N9     &kp N0    &kp BSPC
                &kp TAB    &none       &none      &none      &none      &none             &none        &kp N4     &kp N5    &kp N6     &none     &none
                &kp LSHFT  &none       &none      &none      &none      &none             &none        &kp N1     &kp N2    &kp N3     &none     &kp RSHFT
                &kp LCTRL  &kp LALT    &none      &none      &none      &kp SPACE         &trans       &kp N0     &none     &none      &kp RGUI  &kp ENTER
            >;
        };

        symbol_layer {
            bindings = <
                &kp ESC    &kp EXCL    &kp AT     &kp HASH   &kp DLLR   &kp PRCNT         &kp CARET    &kp PLUS   &kp MINUS &kp LBKT   &kp RBKT  &kp BSPC
                &none      &none       &none      &none      &none      &none             &none        &kp EQUAL  &kp UNDER &kp LPAR   &kp RPAR  &none
                &none      &none       &none      &none      &none      &none             &none        &kp AMPS   &kp PIPE  &kp LBRC   &kp RBRC  &none
                &kp LCTRL  &kp LALT    &none      &trans     &none      &none             &none        &kp FSLH   &kp BSLH  &none      &kp RGUI  &kp ENTER
            >;
        };

        media_layer {
            bindings = <
                &kp ESC       &none       &none      &none      &none      &none             &none        &none      &none     &none      &none     &kp LG(RS(GRAVE))
                &kp C_VOL_UP  &none       &none      &none      &none      &none             &none        &none      &none     &none      &none     &none
                &kp C_VOL_DN  &none       &none      &none      &none      &none             &none        &none      &none     &none      &none     &none
                &kp K_PREV    &kp K_NEXT  &trans     &none      &none      &kp C_PP          &none        &none      &none     &none      &kp RGUI  &kp ENTER
            >;
        };

        arrow_layer {
            bindings = <
                &kp ESC    &none       &none      &none      &none      &none             &none        &none      &kp UP    &none      &none     &kp DEL
                &none      &none       &none      &none      &none      &none             &none        &kp LEFT   &kp DOWN  &kp RIGHT  &none     &none
                &none      &none       &none      &none      &none      &none             &none        &none      &kp DOWN  &none      &none     &none
                &kp LCTRL  &kp LALT    &none      &none      &none      &none             &none        &trans     &none     &none      &kp RGUI  &kp ENTER
            >;
        };

        mouse_layer {
            bindings = <
                &kp ESC    &none       &none      &none      &none      &none             &none        &mkp LCLK      &mmv MOVE_UP   &mkp RCLK       &none     &none
                &none      &none       &none      &none      &none      &none             &none        &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none     &none
                &none      &none       &none      &none      &none      &none             &none        &none          &none          &none           &none     &none
                &kp LCTRL  &kp LALT    &none      &none      &none      &none             &none        &none          &trans         &none           &none     &none
            >;
        };

        func_layer {
            bindings = <
                &kp ESC     &kp F1      &kp F2     &kp F3     &kp F4     &kp F5            &kp F6       &kp F7     &kp F8    &kp F9     &kp F10   &none
                &none       &kp F11     &kp F12    &none      &none      &none             &none        &none      &none     &none      &none     &none
                &none       &none       &none      &none      &none      &none             &none        &none      &none     &none      &none     &none
                &bootloader &none       &none      &none      &none      &none             &none        &none      &none     &trans     &none     &none
            >;
        };

    };
};