#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
/ {
    keymap {
        compatible = "zmk,keymap";

// ----------------------------------------------------------------------------------------------------
//           |  esc     |   Q     |   W     |   E     |   R     |   T   |          |   Y      |   U    |   I      |   O    |   P      |   bs   | 
//           |  tab     |   A     |   S     |   D     |   F     |   G   |          |   H      |   J    |   K      |   L    |   ;      |   '    |
//           | LSHIFT   |   Z     |   X     |   C     |   V     |   B   |          |   N      |   M    |   ,      |   .    |   /      | RSHIFT |
//           |          |         |         | ctrl    | space   |  sym  |          |  num     |  alt   |          |        |          |        |

        default_layer {
            bindings = <
                &kp A    &kp B    &kp C    &kp D    &kp E    &kp F    &kp G    &kp H    &kp I    &kp J    &kp K    &kp L   
                &kp M    &kp N    &kp O    &kp P    &kp Q    &kp R    &kp S    &kp T    &kp U    &kp V    &kp W    &kp X
                &kp Y    &kp Z    &kp A    &kp B    &kp C    &kp D    &kp E    &kp F    &kp G    &kp H    &kp I    &kp J
                &kp K    &kp L    &kp M    &kp N    &kp O    &kp P    &kp Q    &kp R    &kp S    &kp T    &kp U    &kp V
            >;
        };
    };
};